<!DOCTYPE html> 
<html lang="en">
    <head>
        <!-- meta information -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- title of webpage -->
        <title> CSARCH2 </title>

        <!-- css files -->
        <link rel="stylesheet" type="text/css" href="./css/style.css">
        <link rel="stylesheet" type="text/css" href="./css/tooltip.css">

        <!-- Font Awesome icon library -->
        <script src="https://kit.fontawesome.com/77b56ec5f8.js" crossorigin="anonymous"></script>
        
        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <!-- scripts -->
        <script type="text/javascript" src="./js/converter.js"></script>
        <script type="text/javascript" src="./js/pageInteraction.js"></script>
        <script type="text/javascript" src="./js/script.js"></script>
    </head>
    <body>
        <div id="topbar">
            <h1>Decimal-32 Floating Point Converter</h1>
        </div>
        <div id="main-body">
            <div style="height: 32px"></div>
            <div id="input-area">
                <h2>Input Value</h2>
                <input id="input-value" type="number">
            </div>

            <div id="page-controls">
                <h3>Rounding Type</h3>
                <p id="rounding-method">RTNE</p>
                <p id="rounding-method-display">Round to Nearest Even</p>
                <div id="rounding-type-buttons">
                    <button id="round-method-2-btn">
                        Round to nearest even<br>
                        (7+ digit input)
                    </button>
                    <button id="round-method-1-btn">
                        No rounding<br>
                        (7 digit input)
                    </button>
                </div>
                <div id="actionButtons">
                    <i id="convertButton" class="fa-solid fa-angles-right"></i>
                    <i id="resetButton" class="fa-solid fa-arrow-rotate-left"></i>
                    <span class="tooltip">
                        <i id="copyButton" class="fa-solid fa-copy tooltip"></i>
                        <span class="tooltiptext noselect">Result copied!</span>
                    </span>
                </div>
            </div>

            <div id="output-area">
                <h2>Output Value</h2>
                <div id="output-value"></div>
                <div id="output-value-hex"></div>
                <p id="toggle-hex-btn"><b><u>View in Hex</u></b></p>
                <p id="toggle-binary-btn"><b><u>View in Binary</u></b></p>
            </div>
            
            <div id="footer">
                <h3>Usage Notes</h3>
                <ul>
                    <li>
                        <span class="param">Input Value</span> field will only accept numerical characters.
                    </li>
                    <li>
                        <span class="param">Input Value</span> and <span class="param">Rounding Type</span> must contain values to produce output.
                    </li>
                    <li>
                        Exponential input can be represented using <span class="math"> e    </span> instead of <span class="math"> x10ˣ</span>.
                    </li>
                    <li>
                        <span class="param">No Rounding</span> will only accept values up to 7 digits long.
                    </li>
                </ul>
                <p id="credits">© Aldecoa, Aquino, Bautista, Canicon</p>
            </div>
        </div>
    </body>
</html>