/* Whole page */
body {
    width: 100%;
    height: 100%;
	margin: 0;
    background-color: #202324;
    font-family: 'Roboto', sans-serif;
    color: white;
    overflow: overlay;
}

/* Prevents text from being highlighted */
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}

h1, h2, h3, h4, p {
    margin: 0;
}

#topbar {
    display: flex;
    flex-direction: column;
}

#topbar > h1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 64px;
    text-align: center;
    border-bottom: 1px solid white;
}

#main-body {
    width: 100%;
    height: calc(100vh - 65px);
    display: flex;
    flex-direction: column;
	margin: 0;
}



/* Input Area */
#input-area {
    margin-bottom: 48px;
    text-align: center;
}

#input-area > input {
    width: calc(50%);
    margin-top: 16px;
    padding: 4px 8px;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid white;
    overflow: hidden;
    text-align: center;

    font-family: 'Consolas';
    resize: none;
    font-size: 32px;
    color: white;
}

/*  Remove arrow selector for number input
    Ref: https://www.geeksforgeeks.org/how-to-disable-arrows-from-number-input/
*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#input-area > input:focus {
    outline: none;
}



/* Page Controls */
#page-controls {
    text-align: center;
    margin-bottom: 48px;
}

#rounding-method {
    display: none;
}

#rounding-method-display {
    margin-bottom: 8px;
    font-size: 24px;
}

#rounding-type-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 32px;
}

#rounding-type-buttons > button {
    width: 160px;
    height: 64px;
    margin: 0px 16px;
}

#actionButtons {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

#actionButtons > i {
    margin: 0 16px;
}

i:hover {
    cursor: pointer;
}



/* Output Area */
#output-area {
    text-align: center;
    color: white;
}

#output-value {
    margin-top: 24px;
    font-family: 'Consolas';
    font-size: 32px;
}



/* Footer */
#footer {
    margin-top: auto;
    padding: 16px;
}

#footer > ul {
    margin: 0;
}

#credits {
    text-align: right;
    font-size: 10px;
}